.a11y-menu-wrap ~ input {
    display: none;
}

/* btn */
.a11y-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 40px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(0, #29f39a, #009ffc);
    box-shadow: 0 0 5px rgb(0 119 15 / 50%);
    text-shadow: 1px 1px 5px #084d00;
    transition: .3s;
    position: fixed;
    z-index: 99999;
    bottom: var(--cornerMargin, 20px);
    right: var(--cornerMargin, 20px);
}

.a11y-TopRight .a11y-menu-btn {
    top: var(--cornerMargin, 20px);
    right: var(--cornerMargin, 20px);
    bottom: auto;
    left: auto;
}

.a11y-TopLeft .a11y-menu-btn {
    top: var(--cornerMargin, 20px);
    right: auto;
    bottom: auto;
    left: var(--cornerMargin, 20px);
}

.a11y-BottomLeft .a11y-menu-btn {
    top: auto;
    right: auto;
    bottom: var(--cornerMargin, 20px);
    left: var(--cornerMargin, 20px);
}

.a11y-menu-btn:hover {
    color: #333;
    transform: scale(1.1);
    text-shadow: none;
}

.a11y-menu-wrap .a11y-menu-settings {
    color: #fff;
    padding: 5px 10px;
}

/* box */
.a11y-menu-box {
    width: 370px;
    border-radius: 10px;
    border: 2px solid var(--themeColor, #6c7ae0);
    background: #fff;
    transform: translate(100%, 100%);
	pointer-events: none;
	transition: .3s;
    position: fixed;
    z-index: 9999999;
	opacity: 0;
    bottom: 0;
    right: 0;
}

.a11y-TopRight .a11y-menu-box {
    transform: translate(100%, -100%);
    top: var(--cornerMargin, 20px);
    right: var(--cornerMargin, 20px);
    bottom: auto;
    left: auto;
}

.a11y-TopLeft .a11y-menu-box {
    transform: translate(-100%, -100%);
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
}

.a11y-BottomLeft .a11y-menu-box {
    transform: translate(-100%, 100%);
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
}

/* active box */
.a11y-menu-box.box-active {
    transform: translate(0);
	pointer-events: auto;
	opacity: 1;
    bottom: var(--cornerMargin, 20px);;
    right: var(--cornerMargin, 20px);;
}

.a11y-TopRight .a11y-menu-box.box-active {
    top: var(--cornerMargin, 20px);
    right: var(--cornerMargin, 20px);
    bottom: auto;
    left: auto;
}

.a11y-TopLeft .a11y-menu-box.box-active {
    top: var(--cornerMargin, 20px);
    right: auto;
    bottom: auto;
    left: var(--cornerMargin, 20px);
}

.a11y-BottomLeft .a11y-menu-box.box-active {
    top: auto;
    right: auto;
    bottom: var(--cornerMargin, 20px);
    left: var(--cornerMargin, 20px);
}

/* header */
.a11y-menu-box-header {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    background: var(--themeColor, #6c7ae0);
}

.a11y-menu-box-close {
	color: #fff !important;
	margin-inline-start: auto;
}

.a11y-menu-box-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding: 10px;
    margin: 0;
}

.a11y-menu-box-item {
	position: relative;
}

.a11y-menu-box-item a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 66px;
	color: var(--themeColor, #6c7ae0);
	font-size: 18px;
	text-align: center;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid var(--themeColor, #6c7ae0);
	user-select: none;
	transition: .3s;
}

.a11y-menu-box-item a:hover {
	background: var(--themeColor, #6c7ae0);
}

.a11y-menu-box-item a:hover {
	color: #fff;
}

.a11y-menu-box-item i {
	display: block;
	margin: 5px;
}

#a11yTextColorPicker {
	pointer-events: none;
	position: absolute;
	visibility: hidden;
	bottom: 0;
}

/* contrast modes */
.a11y-contrast-dark {
    --fg: white;
    --bg: black;
}

.a11y-contrast-yellow {
    --fg: yellow;
    --bg: black;
}

.a11y-contrast-cyan {
    --fg: cyan;
    --bg: black;
}

.a11y-contrast-light {
    --fg: black;
    --bg: white;
}

@media (min-width: 0px) {
    @supports (display: block) {
        html:root[class*=a11y-contrast] *,
        html:root[class*=a11y-contrast] ::after,
        html:root[class*=a11y-contrast] ::before {
            color: var(--fg) !important;
            border-color: var(--fg) !important;
            background: var(--bg) !important;
            box-shadow: none !important;
        }
    }
}
